<ion-header>
  <ion-toolbar>
    <ion-title>About Us</ion-title>
    <ion-back-button slot="start"></ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-content>

  <p class="ion-text-center">
    <img src="assets/LOGO.PNG" width="50%">
  </p>

  <p>Momento Mental Health Mobile Application is a mobile application that integrates mental health associations, volunteer listeners and in-platform campaigns that drive self-development and motivation.
     <br> <br> The aim of this application is to provide a way for people who want to seek advice anonymously or just seek motivation. Although, to promote the treatment of mental illness and provide positive mental health motivation to consumers. 
     <br> <br> This app also promotes good mental health and self-motivation. This app also aims to provide a way for people who want to contact mental health advice or are just looking for motivation.</p>

</ion-content>
