img {
    width: 125px;
    height: 125px;
    border-radius: 50%;
    border: 8px solid #0b6613;
}

p {
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: justify;
    font-size: 15px;
}