<ion-header [transparent]="true">
  <ion-toolbar>
    <ion-title>
      Momento
    </ion-title>
  </ion-toolbar>
</ion-header>




<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Momento</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="header">
    <h1>Momento</h1>
    <img src="assets/LOGO.PNG">
    <br>
  </div>

  <br>

  <ion-button 
  class="ion-padding" 
  expand="full" 
  shape="round" 
  color="primary" 
  routerLink="/login">
   Login
  </ion-button>
  <br>
  <ion-button 
  class="ion-padding" 
  expand="full" 
  shape="round" 
  color="primary" 
  routerLink="/register">
   Sign Up
  </ion-button>
  <br>





</ion-content>



