ion-content {
    --background: #000000;

    #header {
        display: flex;
        flex-direction: column;
        align-items: center;

        h1 {
            font-weight: 700;
            font-size: 26px;
            color: #ffffff;
            margin-bottom: 15%;
        }

        img {
            width: 125px;
            height: 125px;
            border-radius: 50%;
            border: 8px solid #0b6613;
        }
    }
    
}