<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>FAQ</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="small">Frequently Asked Questions</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-slides>

    <ion-slide>
  <ion-card>
    <ion-card-header>
      <ion-card-content>
        <h1>What content will Momento app have?</h1><br><br>
        <p class="ion-text-justify">Momento Mental Health App will provide some features to meet the objectives. Users can explore the Home Page to watch videos of some categories to improve mental health quality.
          Users can add task to Task Page, check mental health level on Questionnaire Page and can directly get contacts of psychiatrists.
        </p>
      </ion-card-content>
    </ion-card-header>
  </ion-card>
</ion-slide>

<ion-slide>
  <ion-card>
    <ion-card-header>
      <ion-card-content>
        <h1>Can this app improve user's mental health?</h1><br><br>
        <p class="ion-text-justify">The users may use all the features and functionalitiesof this app. All of them will ease the users and help them to improve their mental health condition. Users also can determine 
          if they are improving their mental health condition or not based on the mental health checker.
        </p>
      </ion-card-content>
    </ion-card-header>
  </ion-card>
</ion-slide>

<ion-slide>
  <ion-card>
    <ion-card-header>
      <ion-card-content>
        <h1>What is benefits?</h1><br><br>
        <p class="ion-text-justify">In conclusion, Momento Mental Health App is a user friendly application. It will give benefits to all the users based on the funcionalties.
          Hence, as this app achieve the user requirements and objectives it will ease whoever use this app.
        </p>
      </ion-card-content>
    </ion-card-header>
  </ion-card>
</ion-slide>

</ion-slides>

</ion-content>
