<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Quotes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Quotes</ion-title>
    </ion-toolbar>
  </ion-header>
<ion-slides>
  <ion-slide>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Quote 1</ion-card-title>
      <ion-card-content>
        <img src="assets/quotes1.jfif" >
      </ion-card-content>
    </ion-card-header>
  </ion-card>
</ion-slide>
  <ion-slide>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Quote 2</ion-card-title>
      <ion-card-content>
        <img src="assets/quotes2.png" >
      </ion-card-content>
    </ion-card-header>
  </ion-card>
</ion-slide>
  <ion-slide>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Quote 3</ion-card-title>
      <ion-card-content>
        <img src="assets/quotes3.jfif" >
      </ion-card-content>
    </ion-card-header>
  </ion-card>
</ion-slide>
  <ion-slide>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Quote 4</ion-card-title>
      <ion-card-content>
        <img src="assets/quotes4.png" >
      </ion-card-content>
    </ion-card-header>
  </ion-card>
</ion-slide>
  <ion-slide>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Quote 5</ion-card-title>
      <ion-card-content>
        <img src="assets/quotes5.jfif" >
      </ion-card-content>
    </ion-card-header>
  </ion-card>
</ion-slide>
  <ion-slide>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Quote 6</ion-card-title>
      <ion-card-content>
        <img src="assets/quotes6.jfif" >
      </ion-card-content>
    </ion-card-header>
  </ion-card>
</ion-slide>
  <ion-slide>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Quote 7</ion-card-title>
      <ion-card-content>
        <img src="assets/quotes7.png" >
      </ion-card-content>
    </ion-card-header>
  </ion-card>
</ion-slide>
  <ion-slide>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Quote 8</ion-card-title>
      <ion-card-content>
        <img src="assets/quotes8.jfif" >
      </ion-card-content>
    </ion-card-header>
  </ion-card>
</ion-slide>
  <ion-slide>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Quote 9</ion-card-title>
      <ion-card-content>
        <img src="assets/quotes9.jfif" >
      </ion-card-content>
    </ion-card-header>
  </ion-card>
</ion-slide>
  <ion-slide>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Quote 10</ion-card-title>
      <ion-card-content>
        <img src="assets/quotes10.jfif" >
      </ion-card-content>
    </ion-card-header>
  </ion-card>
</ion-slide>
</ion-slides>
</ion-content>
